* {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    text-shadow: 20px;
    text-decoration: teal;
    background-blend-mode: color;
}


/*titulo*/

div#titulo {
    width: 100%;
    margin-top: 100px;
}

p#header {
    text-align: center;
    font-size: 2.5em;
    color: black;
    font-family: fantasy;
}

p#subheader {
    text-align: center;
    color: #cecece;
    margin-top: 10px;
    font-size: 1.3em;
}

header {
    margin: 40px auto;
    width: 1200px;
    height: 230px;
}

div.contenedor {
    width: 200px;
    height: 400px;
    float: left;
    transition: height .4s;
}

div#uno {
    background-color: rgb(208, 101, 3);
}

div#dos {
    background-color: rgb(233, 147, 26);
}

div#tres {
    background-color: rgb(22, 145, 190);
}

div#cuatro {
    background-color: rgb(22, 107, 162);
}

div#cinco {
    background-color: rgb(43, 212, 38);
}

div#seis {
    background-color: rgb(171, 197, 24);
}

div#siete {
    background-color: rgb(223, 131, 241);
}

img.icon {
    display: block;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, .15);
    width: 110px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0);
    transition: box-shadow .4s;
}

p.texto {
    font-size: 1.2em;
    color: white;
    text-align: center;
    padding-top: 10px;
    opacity: .6;
    transition: padding-top 0.4s;
}

div.contenedor:hover {
    height: 250px;
}

div.contenedor:hover p.texto {
    padding-top: 30px;
    opacity: 1;
}

div.contenedor:hover img.icon {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .6);
}